@model SQLEscola.Models.QuestaoModel

@{
    ViewBag.Title = "Editar Questão";
}
<h2>Editar</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@if (ViewBag.Error != "")
{
    <ul style="color:Red">
        <li>
            @ViewBag.Error
        </li>
    </ul>
}

@using (Html.BeginForm("Edit", "Questao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Editar Questão</legend>

        @Html.HiddenFor(model => model.Id_Questao)
        @Html.HiddenFor(model => model.Id_Atividade)
        @Html.HiddenFor(model => model.DataCriacao)
        @Html.HiddenFor(model => model.DataAlteracao)
        @Html.HiddenFor(model => model.Id_Tecnologia)

        <div class="editor-label">
            @Html.Label("Número de Ordem")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Ordem, new { style = "width:30px", disabled = "disabled" })
        </div>

        <div class="editor-label">
            @Html.Label("Descrição")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descricao, new { style = "width:400px;height:100px;" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        @if (Model.ArrayBytes != null)
        {
            <br />
            <div class="editor-field" style="font-weight:bolder">
                <a href="@Url.Action("PDFDownload", "Questao", new { id = Model.Id_Questao })">
                    <img alt="logo" src="../../Content/themes/base/images/arquivo.png" width="25px" height="25px" />
                </a>
                @Html.ActionLink("Baixar Arquivo", "PDFDownload", new { id = Model.Id_Questao })
            </div>
        }
        else
        {
            <br />
            <div class="editor-label">
                @Html.Label("Carregamento de Arquivo (PDF ou DOC)")
            </div>
            <br />
            <input type="file" name="file" style="width:400px" />
            <br />
            <br />
        }

        <div class="editor-label">
            @Html.Label("Script de Criação")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ScriptCriacao, new { style = "width:400px;height:150px;" })
            @Html.ValidationMessageFor(model => model.ScriptCriacao)
        </div>

        <div class="editor-label">
            @Html.Label("Script de Povoamento")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ScriptPovoamento, new { style = "width:400px;height:150px;" })
            @Html.ValidationMessageFor(model => model.ScriptPovoamento)
        </div>

        <div class="editor-label">
            @Html.Label("Script de Resolução")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ScriptResultado, new { style = "width:400px;height:150px;" })
            @Html.ValidationMessageFor(model => model.ScriptResultado)
        </div>

        <p>
            <input type="submit" value="Editar Questão" class="but but-success but-small but-shadow but-rc" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retornar", "Index", "Questao", new { id = @ViewBag.Id_Atividade }, new { @class = "modal-link" })
</div>