@model SQLEscola.Models.ResultadoModel

@{
    ViewBag.Title = "Resultado";
}

<h2>Visualizar Resultado</h2>
<h3>Questão: @ViewBag.NomeQuestao / Ordem: @ViewBag.Ordem / Data e Hora da Resposta: @ViewBag.Data</h3>

<fieldset>
    <legend>Resultado</legend>

    <div class="display-label">Script Resposta</div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.ScriptResposta, new { style = "width:750px;height:350px;", disabled = "disabled" })
    </div>

    <div class="display-label">Resultado</div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Resultados, new { style = "width:750px;height:350px;", disabled = "disabled" })
    </div>

    <div class="display-label">Comentários do Professor</div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Comentarios_Prof, new { style = "width:550px;height:150px;", disabled = "disabled" })
    </div>

    
</fieldset>
<p>
    @Html.ActionLink("Retornar para Histórico de Questões", "Index", "Resposta", new { id = ViewBag.Id_Questao, idUser = ViewBag.IdUser }, null)
</p>
