@model IEnumerable<SQLEscola.Models.MatriculaModel>
@{
    ViewBag.Title = "Solicitar Perfil de Professor";
}

@using GridMvc.Html
@using GridMvc.Sorting

<h2>Solicitar Perfil de Professor</h2>

<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>

<div class="box-content">
    @Html.Grid(Model).Columns(columns =>
    {

        columns.Add(mat => mat.Usuario)
                .Titled("Nome")
                .ThenSortByDescending(mat => mat.Usuario)
                .SetWidth(350)
                .Filterable(true);

        columns.Add(mat => mat.Status)
                .Titled("Nome")
                .ThenSortByDescending(mat => mat.Usuario)
                .SetWidth(350)
                .Filterable(true);

        columns.Add()
                .Titled("Opções")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(150);


    }).WithPaging(5).Sortable()
</div>

<!-- Código Javascript para confirmações do botão -->
    <script type="text/javascript">
        function exibirConfirmacoes() {
            var x;
            var r = confirm("Deseja realmente se matricular nesta turma?");
            if (r == true) {
                alert("Você acaba de se matricular nesta turma. \nPara visualizar atividades postadas pelos professor dirija-se para aba de Turmas.");
                return true;
            } else {
                alert("Matrícula cancelada.");
                return false;
            }
        }
    </script>