@model SQLEscola.Models.RespostaModel

@{
    ViewBag.Title = "Responder Questão";
}

<h2>Responder Questão</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("CreateAtalho", "Resposta"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Resposta</legend>

        @using (Ajax.BeginForm("CreateAtalho", "Resposta", FormMethod.Get, null))
        {
            <div class="editor-label">
                @Html.Label("Turma")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Turmas", null, "Selecione", new { onchange = "this.form.submit();" })
            </div>
        }

        @using (Ajax.BeginForm("CreateAtalho", "Resposta", FormMethod.Get, null))
        {
            <div class="editor-label">
                @Html.Label("Atividade")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Atividades", null, "Selecione", new { onchange = "this.form.submit();" })
            </div>
        }

        <div class="editor-label">
            @Html.Label("Questão")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Questoes", null, "Selecione", new { id = "ddlQuestoes" })
        </div>

        <h4 id="Enunciado" style="width:50%;"></h4>

        <div class="editor-label">
            @Html.Label("Script de Resposta")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ScriptResposta, new { style = "width:700px;height:250px;" })
            @Html.ValidationMessageFor(model => model.ScriptResposta)
        </div>

        <p>
            <input type="submit" value="Submeter Resposta para Avaliação Automática" class="but but-success but-small but-shadow but-rc" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cancelar", "Inicial", "Home", null, new { @class = "modal-link" })
</div>

<script type="text/javascript">
    $('#ddlQuestoes').change(function () {
        var sel = $('#ddlQuestoes').get(0);
        var valueSelect = sel.options[sel.selectedIndex].text;
        $('#Enunciado').text('Questão Selecionada: ' + valueSelect);
    });

    
</script>