@model SQLEscola.Models.RespostaModel

@{
    ViewBag.Title = "Responder Questão";
}

<h2>Responder Questão</h2>
<h3>Questão: @ViewBag.NomeQuestao</h3>
<h3>Ordem: @ViewBag.Ordem</h3>

@if (Model.ArrayBytes != null)
{
    <div class="editor-field" style="font-weight:bolder">
        <a href="@Url.Action("PDFDownload", "Questao", new { id = Model.Id_Questao })">
            <img alt="logo" src="../../Content/themes/base/images/arquivo.png" width="25px" height="25px" />
        </a>
        @Html.ActionLink("Baixar Arquivo", "PDFDownload", "Questao", new { id = Model.Id_Questao },null)
    </div>
        <br />
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Submeter Questão</legend>

        @Html.HiddenFor(resp => resp.Id_Resposta)
        @Html.HiddenFor(resp => resp.Id_Questao)
        @Html.HiddenFor(resp => resp.Id_Usuario)

        <div class="editor-label">
            @Html.Label("Script de Resposta")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ScriptResposta, new { style = "width:700px;height:250px;" })
            @Html.ValidationMessageFor(model => model.ScriptResposta)
        </div>

        @if (Model.ScriptErros != "")
        {
            <div class="editor-label">
            @Html.Label("Erros no Script")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ScriptErros, new { style = "width:700px;height:250px;" })
        </div>
        }

        <p>
            <input type="submit" value="Submeter Resposta para Avaliação Automática" class="but but-success but-small but-shadow but-rc" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retornar", "IndexAluno", "Questao", new { id = ViewBag.Id_Atividade }, new { @class = "modal-link" })
</div>

<!--div>
    @Html.ActionLink("Retornar", "Index", new { id = Model.Id_Questao, idUser = Model.Id_Usuario }, new { @class = "modal-link" })
</div-->
