@model SQLEscola.Models.RespostaModel

@{
    ViewBag.Title = "Visualizar Resposta";
}

<h2>Visualizar Resposta</h2>
<h3>Questão: @ViewBag.NomeQuestao</h3>
<h3>Ordem: @ViewBag.Ordem</h3>

<fieldset>
    <legend>Resposta</legend>

    <div class="display-label">Data da Resposta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataResposta, new { disabled = "disabled" })
    </div>

    <div class="display-label">Script Resposta</div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.ScriptResposta, new { style = "width:750px;height:350px;", disabled = "disabled" })
    </div>

</fieldset>
<p>
    @Html.ActionLink("Retornar para Histórico de Questões", "Index", new { id = Model.Id_Questao, idUser = ViewBag.IdUser })
</p>
