@model SQLEscola.Models.RespostaModel

@{
    ViewBag.Title = "Editar Script de Resposta";
}

<h2>Editar Script de Resposta</h2>
<h3>Questão: @ViewBag.NomeQuestao</h3>
<h3>Ordem: @ViewBag.Ordem</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Responder</legend>

        @Html.HiddenFor(resp => resp.Id_Resposta)
        @Html.HiddenFor(resp => resp.Id_Questao)
        @Html.HiddenFor(resp => resp.Id_Usuario)

        <div class="editor-label">
            @Html.Label("Script de Resposta")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ScriptResposta, new { style = "width:700px;height:250px;" })
            @Html.ValidationMessageFor(model => model.ScriptResposta)
        </div>

        <p>
            <input type="submit" value="Submeter Resposta para Avaliação Automática" class="but but-success but-small but-shadow but-rc" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retornar", "Index", new { id = Model.Id_Questao, idUser = Model.Id_Usuario }, new { @class = "modal-link" })
</div>