@model List<SQLEscola.Models.RespostaModel>

@{
    ViewBag.Title = "Respostas";
}
<h2>Respostas</h2>
<h3>Turma: @ViewBag.Turma</h3>
<h3>Professor: @ViewBag.Professor</h3>
<h3>Atividade: @ViewBag.Atividade</h3>
<h3>Questão: @ViewBag.NomeQuestao</h3>
<h3>Ordem: @ViewBag.Ordem</h3>


@using GridMvc.Html
@using GridMvc.Sorting

<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>

<div class="box-content">
    @Html.Grid(Model).Columns(columns =>
    {

        columns.Add(quest => quest.Usuario)
                .Titled("Respondida Por")
                .SetWidth(520)
                .ThenSortByDescending(quest => quest.Usuario)
                .Filterable(true);

        columns.Add()
                .Titled("Visualizar Respostas")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(130)
                .RenderValueAs(ativ => Html.ActionLink("Respostas", "Index", new { id = ativ.Id_Questao, idUser = ativ.Id_Usuario }, new { @class = "modal-link" }));
  

    }).WithPaging(5).Sortable()
</div>
<br />
<div>
    @Html.ActionLink("Retornar para Questões", "Index", "Questao", new { id = @ViewBag.IdAtividade }, new { @class = "modal-link" })
</div>