@model SQLEscola.Models.TurmaModel

@{
    ViewBag.Title = "Detalhes da Turma";
}

<h2>Turma: @Html.DisplayFor(model => model.Turma)</h2>
<h3>Professor: @Html.DisplayFor(model => model.Usuario)</h3>

<fieldset>
    <legend>Alunos Matriculados</legend>
    <br />
    @foreach (string item in (List<string>)Session["ListaAlunos"])
	{
		<div class="display-label">&nbsp &nbsp @item</div>
	}
    <br />
    <h5>Total de Alunos: @Html.DisplayFor(model => model.QtdeAlunos)</h5>
</fieldset>
<p>
    @Html.ActionLink("Voltar", "FiltrarPorUser")
</p>
