@model SQLEscola.Models.TurmaModel

@{
    ViewBag.Title = "Editar Turma";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Editar Turma</legend>

        @Html.HiddenFor(model => model.Id_Turma)
        @Html.HiddenFor(model => model.Id_Usuario)

        <div class="editor-label">
            @Html.LabelFor(model => model.Turma)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Turma, new { style = "width:400px", Maxlength = "100" })
            @Html.ValidationMessageFor(model => model.Turma)
        </div>

        <p>
            <input type="submit" value="Salvar Turma" class="but but-success but-small but-shadow but-rc" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retornar para Lista de Turmas", "Index")
</div>
