@model IEnumerable<SQLEscola.Models.TurmaModel>
@{
    ViewBag.Title = "Turmas";
}

@using GridMvc.Html
@using GridMvc.Sorting

<h2>
    Turma</h2>
<p>
    @Html.ActionLink("Criar Nova Turma", "Create")
    &nbsp &nbsp
    @Html.ActionLink("Minhas Turmas", "FiltrarPorUser")
</p>

<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>

<div class="box-content">
    @Html.Grid(Model).Columns(columns =>
    {

        columns.Add(turma => turma.Turma)
                .Titled("Nome da Turma")
                .ThenSortByDescending(turma => turma.Turma)
                .SetWidth(350)
                .Filterable(true);

        columns.Add(turma => turma.Usuario)
                .Titled("Professor")
                .ThenSortByDescending(turma => turma.Usuario)
                .SetWidth(200)
                .Filterable(true);

        columns.Add(turma => turma.QtdeAlunos)
                .Titled("Alunos Matriculados")
                .ThenSortByDescending(turma => turma.QtdeAlunos)
                .SetWidth(150)
                .Filterable(true);

        /* Adding not mapped column, that renders body, using inline Razor html helper */
        columns.Add()
                .Titled("Editar")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(30)
                .RenderValueAs(turma => Html.ActionLink("Editar", "Edit", new { id = turma.Id_Turma }, new { @class = "modal-link" }));

        columns.Add()
                .Titled("Detalhes")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(30)
                .RenderValueAs(turma => Html.ActionLink("Detalhes", "Details", new { id = turma.Id_Turma }, new { @class = "modal-link" }));

        columns.Add()
                .Titled("Remover")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(30)
                .RenderValueAs(turma => Html.ActionLink("Remover", "Delete", new { id = turma.Id_Turma }, new { @class = "modal-link" }));

    }).WithPaging(5).Sortable()
</div>
