@model IEnumerable<SQLEscola.Models.TurmaModel>
@{
    ViewBag.Title = "Turmas";
}

@using GridMvc.Html
@using GridMvc.Sorting

<h2>Turmas</h2>
<p>
    @Html.ActionLink("Criar Nova Turma", "Create")
    &nbsp &nbsp
    @Html.ActionLink("Minhas Turmas", "FiltrarPorUser")
</p>

<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>

<div class="box-content">
    @Html.Grid(Model).Columns(columns =>
    {

        columns.Add(turma => turma.Turma)
                .Titled("Nome da Turma")
                .ThenSortByDescending(turma => turma.Turma)
                .SetWidth(400)
                .Filterable(true);

        columns.Add(turma => turma.Usuario)
                .Titled("Professor")
                .ThenSortByDescending(turma => turma.Usuario)
                .SetWidth(350)
                .Filterable(true);

        columns.Add(turma => turma.QtdeAlunos)
                .Titled("Alunos Matriculados")
                .ThenSortByDescending(turma => turma.QtdeAlunos)
                .SetWidth(250)
                .Filterable(true);
  

    }).WithPaging(5).Sortable()
</div>
